.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */
.navbar {
  display: flex;
  padding: 10px;
  background-color: lightgray;
  align-items: center;
}

.navbar-brand {
  margin-right: 10px;
}

.nav-link {
  margin: 5px;
  text-decoration: none;
}

.card-container {
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

Button {
  margin: 3px;
}

.Card-Footer {
  font-size: small;
}

.whole-view {
  display: flex;
  align-items: center;
}

.individual-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid rgb(26, 158, 202);
  border-radius: 5px;
}

.poke-img {
  width: 20rem;
}

.one-poke-info {
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 2px solid rgb(26, 158, 202);
}

.types-and-moves {
  margin-right: 5rem;
}

.types p {
  margin: 5px;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .individual-pokemon {
    width: 75%;
  }
  .poke-img {
    width: 60%;
  }
}